<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MNIST</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
</head>
<body>


    <div class="content-left">
        
        <canvas id="canvas"></canvas>
        <br>
        <center><h3>Draw Digit</h3></center>
    </div>

    <div class="content-center">
        <center><canvas id="picture"></canvas></center>
        <br>
        <center><a class="btn btn-outline-danger" href="#" id="reset" role="button">Reset</a></center>
        <br>
        <h3> Prediction </h3>
        <br><br>
        <div class="alert alert-success" role="alert">
            <center><h1 id="d"></h1></center>
        </div>
        
        
    </div>
    <div class="content-right">
        <table class="result">
            <tr>
                <th class="th-1">&nbsp;</th>
                <th class="th-2">-Result-</th>
            </tr>
            <tr>
                <th>0</th>
                <td></td>
            </tr>
            <tr>
                <th>1</th>
                <td></td>
            </tr>
            <tr>
                <th>2</th>
                <td></td>
            </tr>
            <tr>
                <th>3</th>
                <td></td>
            </tr>
            <tr>
                <th>4</th>
                <td></td>
            </tr>
            <tr>
                <th>5</th>
                <td></td>
            </tr>
            <tr>
                <th>6</th>
                <td></td>
            </tr>
            <tr>
                <th>7</th>
                <td></td>
            </tr>
            <tr>
                <th>8</th>
                <td></td>
            </tr>
            <tr>
                <th>9</th>
                <td></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
